.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards img {
  width: 25vw;
  max-width: 25vw;
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
}
